DB_HOST=localhost
DB_PORT=3307
DB_USER=fintech_user
DB_PASSWORD=1234
DB_DATABASE=fintech_api

JWT_SECRET_KEY=Kz9V!mQ2pR7#sL1@xY4nT8uE5cD0hA3bG6jF9wZ2

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arellysvillarrealn@gmail.com
SMTP_PASSWORD=juvl uver cxgz nlij
SMTP_FROM="Fintech Alertas  <no-reply@localhost>"